@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAll">Show all users</a>
    </button>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AddIndex">Add user</a>
    </button>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Find">Find users</a>
    </button>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Report">Report all data</a>
    </button>
</div>
